# What is __name__ == '__main__'

In [1]:
""" __name__ == '__main__' """

#this line basically tells that whether the module that we are running is from the main file or imported module

def main():
    print(__name__)

if __name__ == '__main__':
    main()

# since we have ran the same module in which it was created , therefore the __name__ == __main__
#if we try to import this module in another module and then ran that module, it would print Misc and not __main__.

__main__

In [ ]:
# range and xrange

# range gives the list, holds data in memory
# xrange gives generator, doesn't hold in memory until queried explicitly

# a = [i for i in range(1,11)]
# b = [i for i in xrange(1,11)]
# print(a)
# print(b)
#xrange was removed in later python versions

In [7]:
#dict.items() and dict.iteritems()

# dict.items() gives list of all the key value pairs at once and keeps in memory
# dict.iteritems() gives a generator and doesn't holds anything in memory until explicitly asked to do so

In [12]:
# == vs is

#"==" checks equality
# "is" checks identity

l1 = [1,2,3,4,5]
l2 = [1,2,3,4,5]

print(l1 == l2) # checks contents, if same returns true
print(l1 is l2) # checks memory id, if same return true

print('l1:',id(l1),'l2:',id(l2))

True
False
l1: 1346689099264 l2: 1346667417984

In [39]:
# creating a database(using sqlite)

import sqlite3

#conn = sqlite3.connect(':memory:') # this will store database details in memory
conn =sqlite3.connect('employee.db') # this will store database details in file

cur = conn.cursor() # to execute the queries

# cur.execute("CREATE TABLE employees(first text,last text, pay integer)")        

# cur.execute("INSERT INTO employees VALUES ('Mary', 'Schafer', 50000)")
# conn.commit()

cur.execute("SELECT * FROM employees WHERE last='Schafer'")

#print(cur.fetchone()) # returns next row in output, if no rows returns None
# cur.fetchmany(5) # returns number of specified rows as list
print(cur.fetchall()) # fetch all remaining no. of rows as list
conn.commit() # to persist data in database
conn.close() # close the connection

[('Corey', 'Schafer', 50000), ('Mary', 'Schafer', 50000)]

In [48]:
import sqlite3
from employee import Employee

conn =sqlite3.connect('employee.db')

cur = conn.cursor()

# cur.execute("CREATE TABLE employees(first text,last text, pay integer)")        

emp_1 = Employee('John', 'Doe', 800000)
emp_2 = Employee('Jane', 'Doe', 900000)

print(emp_1.first)
print(emp_1.last)
print(emp_1.pay)

# cur.execute("INSERT INTO employees VALUES (f'{self.first}', '{self.last}', {self.pay})")# we can string formatting to insert the employee details but not preferrable as it is prone to sql injection
# either of the following 2 methods can be used to insert the records
# cur.execute("INSERT INTO employees VALUES (?, ?, ?)", (emp_1.first, emp_1.last, emp_1.pay))
# conn.commit()

# cur.execute("INSERT INTO employees VALUES (:first, :last, :pay)", {'first': emp_2.first, 'last': emp_2.last, 'pay': emp_2.pay})
# conn.commit()

cur.execute("SELECT * FROM employees where last=?", ('Schafer',))
print(cur.fetchall()) 
cur.execute("SELECT * FROM employees where last=:last", {'last': 'Doe'})

#print(cur.fetchone()) # returns next row in output, if no rows returns None
# cur.fetchmany(5) # returns number of specified rows as list
print(cur.fetchall()) # fetch all remaining no. of rows as list
conn.commit() # to persist data in database
conn.close() # close the connection

John
Doe
800000
[('Corey', 'Schafer', 50000), ('Mary', 'Schafer', 50000)]
[('John', 'Doe', 800000), ('John', 'Doe', 800000), ('Jane', 'Doe', 900000)]

In [51]:
import sqlite3
from employee import Employee

conn =sqlite3.connect(':memory:')

cur = conn.cursor()

cur.execute("CREATE TABLE employees(first text,last text, pay integer)")  

def insert_emp(emp):
    with conn: # this is called context manager, it closes the conn automatically when it comes outside with
        cur.execute("INSERT INTO employees VALUES (:first, :last, :pay)", {'first': emp.first, 'last': emp.last, 'pay': emp.pay})

def get_emps_by_name(lastname): # since select statements doesn't need to be commited hence context manager not needed
        cur.execute("SELECT * FROM employees where last=:last", {'last': lastname})
        return cur.fetchall()

def update_pay(emp, pay):
    with conn:
        cur.execute("UPDATE employees SET pay= :pay WHERE first = :first AND last = :last",
                    {'first': emp.first, 'last': emp.last, 'pay': pay})
        
def remove_emp(emp):
    with conn:
        cur.execute("DELETE FROM employees WHERE first = :first AND last = :last",
                    {'first': emp.first, 'last': emp.last})

emp_1 = Employee('John', 'Doe', 800000)
emp_2 = Employee('Jane', 'Doe', 900000)

insert_emp(emp_1)
insert_emp(emp_2)

emps = get_emps_by_name('Doe')
print(emps)

update_pay(emp_2, 95000)
remove_emp(emp_1)

emps = get_emps_by_name('Doe')
print(emps)

conn.close()

[('John', 'Doe', 800000), ('Jane', 'Doe', 900000)]
[('Jane', 'Doe', 95000)]