# Lists, Tuples, Sets

In [32]:
courses = ['History','Math','Physics','CompSci'] ## list
print(courses) 
print(len(courses)) # length of list
print(courses[0]) # to access values using index
print(courses[-1]) # negative index gives elements in reverse(starts from 1)

## slicing works same as in string
print(courses[0:2])
print(courses[:2])
print(courses[2:])
print(courses[:])
print(courses[-3:-1])
print(courses[-1:-3:-1]) ## third parameter is the step, negative means it will read in reverse
print(courses[3:1:-1]) ## same as above

['History', 'Math', 'Physics', 'CompSci']
4
History
CompSci
['History', 'Math']
['History', 'Math']
['Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']
['Math', 'Physics']
['CompSci', 'Physics']
['CompSci', 'Physics']

In [33]:
## functions in list
# append, add item to end of the list
courses.append('Art')
print(courses)

# insert, takes 2 parameter position and the item
courses.insert(1,'Art')
print(courses)

# extend, adds another list to a list
courses_2 = ['Humanity','Politics']
courses.extend(courses_2)
print(courses)

# remove, removes 1st occurences of the provided value
courses.remove('Art')
print(courses)

# pop, removes the last element from list
popped = courses.pop() ## pop returns a value that is deleted
print(courses,popped)

# reverse, to reverse the list elements
courses.reverse()
print(courses)

# sort, sorts the list in alphabetically/ascending order
courses.sort()
print(courses)

# sort(reverse=True), to sort the result in reverse order
courses.sort(reverse=True)
print(courses)

## sorted(list), sort the list but not inplace
print(sorted(courses))

# min(list) get min/alphabetically lowest from the list (works with numerical values as well as strings, if diff datatype is found then it gives error)
nums = [1,5,9,-1,0,2.3]
print(min(nums))
print(min(courses))
# other similar functions
print(max(nums))
print(sum(nums))

['History', 'Math', 'Physics', 'CompSci', 'Art']
['History', 'Art', 'Math', 'Physics', 'CompSci', 'Art']
['History', 'Art', 'Math', 'Physics', 'CompSci', 'Art', 'Humanity', 'Politics']
['History', 'Math', 'Physics', 'CompSci', 'Art', 'Humanity', 'Politics']
['History', 'Math', 'Physics', 'CompSci', 'Art', 'Humanity'] Politics
['Humanity', 'Art', 'CompSci', 'Physics', 'Math', 'History']
['Art', 'CompSci', 'History', 'Humanity', 'Math', 'Physics']
['Physics', 'Math', 'Humanity', 'History', 'CompSci', 'Art']
['Art', 'CompSci', 'History', 'Humanity', 'Math', 'Physics']
-1
Art
9
16.3

In [40]:
courses = ['History','Math','Physics','CompSci']

# to find the index of 1st occurence of the object in the list, if value not there returns error
print(courses.index('CompSci'))

# to check if object is present
print('Art' in courses)

3
False

In [41]:
## looping lists

for course in courses:
    print(course)

for ix,course in enumerate(courses): # enumerate will give 2 values, index and the item
    print(index,course)
print()
for index,course in enumerate(courses, start=2): # we can set the starting index in list
    print(index,course)

History
Math
Physics
CompSci
6 History
6 Math
6 Physics
6 CompSci

2 History
3 Math
4 Physics
5 CompSci

In [46]:
##string join and split

course_str =', '.join(courses) # join the list element with separator provided and returns string
print(course_str)

new_list = course_str.split(', ') # to split string on the separator and returns the list
print(new_list)

History, Math, Physics, CompSci
['History', 'Math', 'Physics', 'CompSci']

In [47]:
## list -> mutable ,tuples -> Immutable

list_1 = ['History','Math','Physics','CompSci']
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'

print(list_1) # changes in list_1 made changes in list_2 as well because both are referencing to same memory area.
print(list_2)

list_1 = ('History','Math','Physics','CompSci')
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art' # this returns error as we cannot modify items in tuple

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']
('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

TypeError: 'tuple' object does not support item assignment

In [55]:
## sets -> values are unordered and have no duplicates

cs_courses = {'History','Math','Physics','CompSci','Math'}
print(cs_courses) ## we can observe that the order we got in output is different than the order in the input.
## also it removed the duplicate Math

cs_courses = {'History','Math','Physics','CompSci'}
art_courses = {'History','Math','Art','Design'}

# intersection
print(cs_courses.intersection(art_courses)) ## gives common elements

#difference
print(cs_courses.difference(art_courses)) ## present in cs_courses but not in art_courses

# union
print(cs_courses.union(art_courses)) ## present in both, don't give duplicates

{'CompSci', 'Physics', 'History', 'Math'}
{'History', 'Math'}
{'CompSci', 'Physics'}
{'Design', 'Art', 'Physics', 'History', 'Math', 'CompSci'}

In [57]:
##list, tuple and set declaration

empty_list1 = []
empty_list2 = list()
print(type(empty_list1),type(empty_list2))

empty_tuple1 = ()
empty_tuple2 = tuple()
print(type(empty_tuple1),type(empty_tuple2))

empty_set1 = {} # this will create a dictionary instead of set
empty_set2 = set()
print(type(empty_set1),type(empty_set2))

<class 'list'> <class 'list'>
<class 'tuple'> <class 'tuple'>
<class 'dict'> <class 'set'>

In [65]:
## slicing

my_list = [0,1,2,3,4,5,6,7,8,9]
print(my_list[1:-2]) ## negative and positive index can be combined together
print(my_list[1:])
print(my_list[:9])
print(my_list[:-1])
print(my_list[:])
print(my_list[2:-1:2]) ## start:end:step, default step is 1
print(my_list[2:-1:-1]) ## this gives empty list because it goes left of 2nd index which doesn't have any value
print(my_list[-1:2:-1])
print(my_list[::-1]) ## to get full list reversed

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[]
[9, 8, 7, 6, 5, 4, 3]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [80]:
## list comprehension 

nums = [1,2,3,4,5,6,7,8,9,10]

my_list = []
for n in nums: # copying contents of list using for loop
    my_list.append(n)
print(my_list)

# using list comprehension example 1

my_list = [n for n in nums]
print(my_list)

my_list = []
for n in nums: # getting squares of contents of list using for loop
    my_list.append(n*n)
print(my_list)

#list comprehension example 1
my_list  = [n*n for n in nums]
print(my_list)

#using map and lambda
my_list = map(lambda n: n*n, nums)
print(my_list)

#list comprehension example 3
my_list = []
for n in nums: 
    if n%2==0:
        my_list.append(n)
print(my_list)

my_list = [n for n in nums if n%2==0]
print(my_list)

#using filter and lambda

my_list = filter(lambda n: n%2 == 0,nums)
print(my_list)

# list comprehension example 4
my_list = []
for letter in 'abcd':
    for num in range(4):
        my_list.append((letter,num))
print(my_list)

my_list = [(letter,num) for letter in 'abcd' for num in range(4)]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
<map object at 0x00000228903A2760>
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
<filter object at 0x00000228903A2040>
[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]
[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [83]:
# Set Comprehension

nums = [1,1,2,1,3,4,3,4,5,5,6,7,8,7,9,9]

my_set = set()
for n in nums:
    my_set.add(n)
print(my_set)

my_set = {n for n in nums}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [90]:
# Generator Expressions
nums = [1,2,3,4,5,6,7,8,9,10]

def gen_func(nums):
    for n in nums:
        yield n*n # used to convert regular python function to generator
my_gen = gen_func(nums)
print(my_gen)
for i in my_gen:
    print(i)

my_gen = (n*n for n in nums) # use parantheses to define generators
print(my_gen)
for i in my_gen:
    print(i)

<generator object gen_func at 0x00000228905EDE40>
1
4
9
16
25
36
49
64
81
100
<generator object <genexpr> at 0x00000228905EDA50>
1
4
9
16
25
36
49
64
81
100

In [103]:
li = [9,1,8,2,7,3,6,4,5]

s_li = sorted(li) # doesn't sort inplace, returns new list
print(s_li)
print(li)

li.sort() # sorts inplace and returns None
print(li)

s_li = sorted(li,reverse=True) # to print in reverse order
li.sort(reverse=True)
print(s_li)
print(li)

tup = (9,1,8,2,7,3,6,4,5)
#tup.sort()  gives error
s_tup = sorted(tup) # sorted the tuple but returned the list
print(s_tup)

di = {'name': 'Ankit', 'job': 'programming', 'age': 25}
#di.sort() gives error
s_di = sorted(di) # sorts the keys in dict and returns the list
print(s_di)

# sort based on absolute values

li = [-6,-5,-4,1,2,3]
s_li = sorted(li)
print(s_li)
s_li = sorted(li,key=abs) # the key helps to run the abs before sorting the values
print(s_li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 1, 8, 2, 7, 3, 6, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['age', 'job', 'name']
[-6, -5, -4, 1, 2, 3]
[1, 2, 3, -4, -5, -6]

In [113]:
class Employee():
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary

    def __repr__(self): # __repr__ returns the formatted value for an object , similar to to_String in java
        return '({},{},${})'.format(self.name, self.age, self.salary)

from operator import attrgetter # this function return the attribute from the object
e1 = Employee('Carl', 37, 70000)
e2 = Employee('Sarah', 29, 80000)
e3 = Employee('John', 43, 90000)

print(e1,'\n',e2,'\n',e3)
employees = [e1,e2,e3]

def e_sort(emp):
    return emp.name

s_employees1 = sorted(employees, key = e_sort)
s_employees2 = sorted(employees, key = lambda x: x.salary, reverse = True)
s_employees3 = sorted(employees,key = attrgetter('age'))
print(s_employees1)
print(s_employees2)
print(s_employees3)

(Carl,37,$70000)
 (Sarah,29,$80000)
 (John,43,$90000)
[(Carl,37,$70000), (John,43,$90000), (Sarah,29,$80000)]
[(John,43,$90000), (Sarah,29,$80000), (Carl,37,$70000)]
[(Sarah,29,$80000), (Carl,37,$70000), (John,43,$90000)]

In [112]:
print(e1)

(Carl,37,$70000)

In [10]:
# more on generators

def square_numbers(nums):
    result = []
    for i in nums:
        result.append(i*i)
    return result

import numpy as np
my_nums = square_numbers(np.arange(1,6)) #[1,2,3,4,5])
print(my_nums)

[1, 4, 9, 16, 25]

In [15]:
# can modify above fucntion to create a generator

def square_numbers(nums):
    for i in nums:
        yield(i*i) # yield function is used to create a generator out of a function
        
my_nums = square_numbers(np.arange(1,6))
print(my_nums) # we get generator object, because it doesn't store all result in the memory but waits for us perform next operation to get next value in generator
print(next(my_nums))
print(next(my_nums))
print(next(my_nums))
print(next(my_nums))
print(next(my_nums))
print(next(my_nums)) # since no element to process it gives stopiteration error

<generator object square_numbers at 0x00000208615C2B30>
1
4
9
16
25

StopIteration:

In [19]:
my_nums = square_numbers(np.arange(1,6))
print([num for num in my_nums]) # convert generator into list, but generator performance or power is lost

# generator doesn't holds values in memory, so its efficient than list

<generator object <genexpr> at 0x00000208615C2EB0>

In [29]:
# namedtuple

from collections import namedtuple # regular tuple but more readable

color = (55,155,255) # here numbers represent rbg value, but how will some other person know this when reading the code
# to overcome this we can use dictionary but it is mutable and lot to type :p
# namedtuple comes in picture which is between tuple and dictionary
print(color[0])

Dimension = namedtuple('Dimension', ['length', 'breadth', 'height'])

dim = Dimension(10,20,30)
print(dim[0])
print(dim.length) # we have now names associated with tuple values. and we can get the values by there names and position both

55
10
10